In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
column_namesarea = ["log10(E_nu/GeV)_min", "log10(E_nu/GeV)_max", "Dec_nu_min[deg]", "Dec_nu_max[deg]", "A_Eff[cm^2]"]
dataarea1= pd.read_csv("IC40_effectiveArea.csv", sep="\s+",  names=column_namesarea, skiprows=1)
dataarea2= pd.read_csv("IC59_effectiveArea.csv", sep="\s+", names=column_namesarea, skiprows=1)
dataarea3= pd.read_csv("IC79_effectiveArea.csv", sep="\s+", names=column_namesarea, skiprows=1)
dataarea4= pd.read_csv("IC86_I_effectiveArea.csv", sep="\s+",  names=column_namesarea, skiprows=1)
dataarea5= pd.read_csv("IC86_II_effectiveArea.csv", sep="\s+",  names=column_namesarea, skiprows=1)

In [3]:
dataarea1["Dataset"] = "IC40"
dataarea2["Dataset"] = "IC59"
dataarea3["Dataset"] = "IC79"
dataarea4["Dataset"] = "IC86_I"
dataarea5["Dataset"] = "IC86_II"

In [4]:
#dataarea_40_86 = pd.concat([dataarea1, dataarea2, dataarea3, dataarea4, dataarea5], ignore_index=True)
#print(dataarea_40_86)

In [5]:
area_corr1= dataarea1[dataarea1['log10(E_nu/GeV)_min'] == 5]
#print(area_corr)
area_corr2= dataarea2[dataarea2['log10(E_nu/GeV)_min'] == 5]
area_corr3= dataarea3[dataarea3['log10(E_nu/GeV)_min'] == 5]
area_corr4= dataarea4[dataarea4['log10(E_nu/GeV)_min'] == 5]
area_corr5= dataarea5[dataarea5['log10(E_nu/GeV)_min'] == 5]

In [6]:
# Extract corresponding values from 'area' column
area_values1 = area_corr1['A_Eff[cm^2]']
#print(area_values )
area_values2 = area_corr2['A_Eff[cm^2]']
area_values3 = area_corr3['A_Eff[cm^2]']
area_values4 = area_corr4['A_Eff[cm^2]']
area_values5 = area_corr5['A_Eff[cm^2]']

In [44]:
dec1 = area_corr1['Dec_nu_min[deg]']
dec2 = area_corr2['Dec_nu_min[deg]']
dec3 = area_corr3['Dec_nu_min[deg]']
dec4 = area_corr4['Dec_nu_min[deg]']
dec5 = area_corr5['Dec_nu_min[deg]']
#print(dec4)

In [45]:
if dec1.equals(dec2) and dec1.equals(dec3) and dec1.equals(dec4) and dec1.equals(dec5):
    print("All datasets are identical.")
else:
    print("Datasets are different.")

All datasets are identical.

In [46]:
dec=area_corr1['Dec_nu_min[deg]']

In [7]:
column_namestime=["MJD_start[days]","MJD_stop[days]"]
datatime1= pd.read_csv("IC40_exp(1).csv", sep="\s+",  names=column_namestime, skiprows=1)
datatime2= pd.read_csv("IC59_exp.csv", sep="\s+", names=column_namestime, skiprows=1)
datatime3= pd.read_csv("IC79_exp.csv", sep="\s+",  names=column_namestime, skiprows=1)
datatime4= pd.read_csv("IC86_I_exp.csv", sep="\s+",  names=column_namestime, skiprows=1)
datatime5= pd.read_csv("IC86_II_exp.csv", sep="\s+",  names=column_namestime, skiprows=1)
datatime6= pd.read_csv("IC86_III_exp.csv", sep="\s+",  names=column_namestime, skiprows=1)
datatime7= pd.read_csv("IC86_IV_exp.csv", sep="\s+",  names=column_namestime, skiprows=1)
datatime8= pd.read_csv("IC86_V_exp.csv", sep="\s+", names=column_namestime, skiprows=1)
datatime9= pd.read_csv("IC86_VI_exp.csv", sep="\s+",  names=column_namestime, skiprows=1)
datatime10= pd.read_csv("IC86_VII_exp.csv", sep="\s+",  names=column_namestime, skiprows=1)

In [8]:
print(datatime1)

      MJD_start[days]  MJD_stop[days]
0        54562.372031    54562.706262
1        54562.708122    54563.041981
2        54563.045082    54563.378948
3        54563.382765    54563.716857
4        54563.718740    54564.052580
...               ...             ...
1415     54970.680226    54970.751153
1416     54970.754808    54970.797658
1417     54970.798965    54970.973206
1418     54971.027611    54971.097413
1419     54971.100918    54971.150264

[1420 rows x 2 columns]

In [9]:
datatime1["Dataset"] = "IC40"
datatime2["Dataset"] = "IC59"
datatime3["Dataset"] = "IC79"
datatime4["Dataset"] = "IC86_I"
datatime5["Dataset"] = "IC86_II"
datatime6["Dataset"] = "IC86_III"
datatime7["Dataset"] = "IC86_IV"
datatime8["Dataset"] = "IC86_V"
datatime9["Dataset"] = "IC86_VI"
datatime10["Dataset"] = "IC86_VII"

In [10]:
#datatime_40_86 = pd.concat([datatime1, datatime2, datatime3, datatime4, datatime5, datatime6, datatime7, datatime8, datatime9, datatime10], ignore_index=True)
#print(datatime_40_86)

In [11]:
print(datatime1['MJD_start[days]'])
print()

0       54562.372031
1       54562.708122
2       54563.045082
3       54563.382765
4       54563.718740
            ...
1415    54970.680226
1416    54970.754808
1417    54970.798965
1418    54971.027611
1419    54971.100918
Name: MJD_start[days], Length: 1420, dtype: float64

In [16]:
datatimesum1=np.sum(datatime1['MJD_stop[days]']-datatime1['MJD_start[days]'])
#eff_time1=(datatime1['exposure_time'])
#print(eff_time1)
datatimesum2=np.sum(datatime2['MJD_stop[days]']-datatime2['MJD_start[days]'])
#eff_time2=(datatime2['exposure_time'])
datatimesum3=np.sum(datatime3['MJD_stop[days]']-datatime3['MJD_start[days]'])
#eff_time3=(datatime3['exposure_time'])
datatimesum4=np.sum(datatime4['MJD_stop[days]']-datatime4['MJD_start[days]'])
#eff_time4=(datatime4['exposure_time'])
datatimesum5=np.sum(datatime5['MJD_stop[days]']-datatime5['MJD_start[days]'])
#eff_time5=(datatime5['exposure_time'])
datatimesum6=np.sum(datatime6['MJD_stop[days]']-datatime6['MJD_start[days]'])
#eff_time6=(datatime6['exposure_time'])
datatimesum7=np.sum(datatime7['MJD_stop[days]']-datatime7['MJD_start[days]'])
#eff_time7=(datatime7['exposure_time'])
datatimesum8=np.sum(datatime8['MJD_stop[days]']-datatime8['MJD_start[days]'])
#eff_time8=(datatime8['exposure_time'])
datatimesum9=np.sum(datatime9['MJD_stop[days]']-datatime9['MJD_start[days]'])
#eff_time9=(datatime9['exposure_time'])
datatimesum10=np.sum(datatime10['MJD_stop[days]']-datatime10['MJD_start[days]'])
#eff_time10=(datatime10['exposure_time'])
#print(eff_time1)
print(datatimesum1)

376.3603109101532

In [13]:
area_radec1=(area_values1)
print(area_radec1)
area_radec2=(area_values2)
area_radec3=(area_values3)
area_radec4=(area_values4)
area_radec5=(area_values5)

15           0.00
55         126.73
95         344.39
135        139.12
175        388.37
215        551.42
255        710.66
295        982.46
335        978.55
375       1462.59
415       2477.77
455       1937.27
495       3173.87
535       3386.01
575       4924.63
615       8184.66
655       8514.47
695      15198.06
735      18335.03
775      33101.05
815      69130.46
855     157854.11
895     320653.05
935     534896.65
975     621586.10
1015    664993.22
1055    738347.37
1095    868190.49
1135    922215.65
1175    904482.68
1215    801873.27
1255    781206.86
1295    771783.75
1335    697253.56
1375    626201.16
1415    562225.81
1455    568576.81
1495    483662.70
1535    485745.79
1575    464715.25
1615    447288.06
1655    413932.37
1695    383964.64
1735    326841.28
1775    327530.56
1815    268885.06
1855    298668.20
1895    192108.35
1935    142511.34
1975    118881.79
Name: A_Eff[cm^2], dtype: float64

In [27]:
a1=datatimesum1*area_radec1
a2=datatimesum2*area_radec2
a3=datatimesum3*area_radec3
a4=datatimesum4*area_radec4
a5=datatimesum5*area_radec5
a6=datatimesum6*area_radec5
a7=datatimesum7*area_radec5
a8=datatimesum8*area_radec5
a9=datatimesum9*area_radec5
a10=datatimesum10*area_radec5
a = pd.concat([a1, a2, a3, a4, a5, a6, a7, a8, a9, a10])

In [29]:
print(a)
len(a)

15      0.000000e+00
55      4.769614e+04
95      1.296147e+05
135     5.235925e+04
175     1.461671e+05
            ...
1815    2.585340e+08
1855    2.101232e+08
1895    1.807052e+08
1935    1.448141e+08
1975    1.240740e+08
Name: A_Eff[cm^2], Length: 500, dtype: float64

500

In [47]:
source_dec=[72.17,61.75, 57.53 ,45.27 , 66.05,59.87 , 54.29,49.81,47.57,45.86,40.11, 38.15, 28.99, 20.38,19.70 , 16.10,
            16.05 , 8.51,8.73, 4.93 ,0.55 ,9.32,21.89,58.87 ,29.53,22.92,20.61,15.97,2.91, 34.33 ,2.95,73.5,-25.02,68.84,
            42.3,-26.87,-26.1]
#len(source_dec)

In [48]:
dec=area_corr1['Dec_nu_min[deg]']
print(dec)

15     -90.00
55     -73.74
95     -66.93
135    -61.64
175    -57.14
215    -53.13
255    -49.46
295    -46.05
335    -42.84
375    -39.79
415    -36.87
455    -34.06
495    -31.33
535    -28.69
575    -26.10
615    -23.58
655    -21.10
695    -18.66
735    -16.26
775    -13.89
815    -11.54
855     -9.21
895     -6.89
935     -4.59
975     -2.29
1015     0.00
1055     2.29
1095     4.59
1135     6.89
1175     9.21
1215    11.54
1255    13.89
1295    16.26
1335    18.66
1375    21.10
1415    23.58
1455    26.10
1495    28.69
1535    31.33
1575    34.06
1615    36.87
1655    39.79
1695    42.84
1735    46.05
1775    49.46
1815    53.13
1855    57.14
1895    61.64
1935    66.93
1975    73.74
Name: Dec_nu_min[deg], dtype: float64